.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.no-users {
  display: flex;
  justify-content: center;
}
