a {
  text-decoration: none;
  font-size: var(--sms-font-size-14);
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &.link-button {
    color: var(--sms-color-white);
    transition: all .3s ease;
    line-height: 1rem;

    &:hover {
      color: var(--sms-color-tiffany-blue);
    }
  }
}

.btn {
  transition: all .3s ease;

  &.btn-circle {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: 1px solid var(--sms-color-dark);

    &:hover {
      opacity: .6;
      color: var(--sms-color-tiffany-blue);
      border-color: var(--sms-color-tiffany-blue);
    }
  }
}

