a {
  text-decoration: none;
  font-size: var(--sms-font-size-14);
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &.link-button {
    color: var(--sms-color-white);
    transition: all .3s ease;
    line-height: 1rem;

    &:hover {
      color: var(--sms-color-tiffany-blue);
    }
  }
}

.btn {
  transition: all .3s ease;
  background: transparent;
  border: 1px solid var(--sms-color-dark);
  padding: 10px 20px;
  border-radius: var(--sms-border-radius);
  cursor: pointer;

  &:hover {
    opacity: .6;
    color: var(--sms-color-tiffany-blue);
    border-color: var(--sms-color-tiffany-blue);
  }

  &.btn-primary {
    background: var(--sms-color-tiffany-blue);
    color: var(--sms-color-white);
  }

  &.btn-circle {
    padding: unset;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}

