input {
  height: 40px;
  border-radius: var(--sms-border-radius);
  border: 1px solid var(--sms-color-dark);
  outline: none;
  padding: 5px 10px;
  transition: all .3s ease;

  &:hover,
  &:focus {
    border-color: var(--sms-color-tiffany-blue);
  }
}

.form-control-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .form-control {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
