:root {
  --sms-site-max-width: 1184px;
  --sms-site-padding-inline: 256px;
  --sms-header-height: 80px;

  --sms-color-dark: #000000;
  --sms-color-white: #FFFFFF;
  --sms-color-maastricht-blue: #092238;
  --sms-color-tiffany-blue: #00AAC1;
  --sms-color-tiffany-quartz: #4B4F45;
  --sms-color-platinum: #E5E6E9;
  --sms-color-cultured: #F5F5F5;
  --sms-color-light-silver: #D9D9D9;
  --sms-color-water: #CDEEF3;


  --sms-font-size-14: 0.875rem;
  --sms-font-size-16: 1rem;
}
